@media (max-width: 1024px) and (min-width: 768px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .hero .about {
       height: 30%;
    }

    .hero .about p {
        width: 60%;
        margin: 50px auto;
        text-align: center;
        font-size: 12px;
        line-height: 20px;
    }

    .projetos {
        margin: 0 auto;
    }
    
    .projetos h3 {
        margin: 0;
    }

    .projetos .buttons {
        margin: 0;
    }
}

@media (max-width: 767px) and (min-width: 600px) {
    nav ul {
        flex-direction: row;
        gap: 10px;
    }

    .hero h1 {
        font-size: 1.8rem;
        text-align: center;
    }

    .hero #typing {
        height: 90px;
    }

    .hero .buttons {
        padding: 20px;
    }

    .hero .about p {
        width: 450px;
        margin: 0 auto;
        padding: 20px 0;
        text-align: center;
        font-size: 12px;
        line-height: 15px;
    }

    .hero .tecnologias {
        padding: 20px 0;
    }

    .projetos {
        height: auto;
        width: 550px;
        margin: 0 auto;

    }

    .projetos .projeto {
        width: 70%;
        align-self: center;
        justify-self: center;
    }

    .projetos .grid {
        grid-template-columns: 1fr;
    }


    .buttons {
        text-align: center;
    }

    footer p {
        font-size: 8px;
    }
}

@media (max-width: 599px) and (min-width: 400px) 
{   
    .hero {
        height: 80vh;
    }

    .hero h1 {
        font-size: 1.5rem;
    }

    .hero #typing {
        height: 90px;
    }

    .hero .buttons {
        padding: 10px 0;
    }

    .hero .buttons {
        margin: 20px 0;
    }

    .hero .about p {
        width: 350px;
        margin: 25px auto;
        text-align: center;
        font-size: 12px;
        line-height: 20px;
    }

    .hero .tecnologias {
        margin: 20px;
        padding: 10px;
    }

    .projetos {
        height: auto;
        margin: 0 auto;
    }

    .projetos .grid {
        grid-template-columns: 1fr;
    }

    .projetos .projeto {
        width: 70%;
        align-self: center;
        justify-self: center;
    }

    .buttons {
        width: 100%;
        text-align: center;
    }

    footer ul {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    footer p {
        font-size: 7px;
    }
}

@media (max-width: 480px) and (min-width: 320px) 
{  
    .hero {
        height: 100vh;
    }

    .hero #typing {
       font-size: 20px;
       margin: 20px;
    }

    .hero .buttons {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hero .about p {
        width: 280px;
        margin: 25px auto;
        text-align: center;
        font-size: 12px;
        line-height: 20px;
    }

    .hero .tecnologias {
        font-size: 10px;
    }

    .projetos {
        height: 230vh;
    }

    .projetos .grid {
        grid-template-columns: 1fr;
    }

}