:root {
    --primary-green: hsl(138, 67%, 43%);
    --secundary-green: hsl(138, 69%, 53%);
    --primary-blue: hsl(249, 100%, 50%);
    --secundary-blue: hsl(189, 84%, 52%);
    --primary-white: hsl(0, 0%, 100%);
    --secundary-white: hsl(0, 0%, 98%);
    --primary-black: hsl(0, 0%, 20%);
    --primary-orange: hsl(22, 94%, 49%);
}